li {
    display: inline;
}

html {
    background-color: white;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #e9573f;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
}

img {
    background-color: #e9573f;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

.boxed {
    width: 1700;
    height: 60;
    background-color: #e9573f;
    width: 100%;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

::placeholder {
    color: #e9573f;
    font-style: italic;
}

.search_bar {
    padding-left: 20px;
}
